.testing {
  background-color: white;
  display: flex;
  justify-content: space-between; 
  height: 100vh;
  gap: 1vh;
}

.leftSide{
  width: 50%;
  padding: 4vh;
}

.rightSide{
  width: 50%;
  padding: 4vh;
}

.submission{
  height: 5%;
  display:flex;
  justify-content: flex-end;
  gap: 1vh;
}

.firstExample, .secondExample {
  outline: 1px solid black;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

textarea{
  width: 100%;
  height: 63%;
  resize: none;
  font-size: 3vh;
}

p, label{
  font-size: 3vh;
}

select, button, option{
  font-size: 2.25vh;
}

h1{
  font-size: 5vh;
}